.gallery {
    padding: 140px 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    h3 {
        margin-bottom: 89px;
    }
}

.images {
    display: grid;
    grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
    gap: 10px;
    margin-bottom: 60px;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}
