:root {
    --primary-color-white: white;
    --secondary-color-black: black;
    --primary-color-dark-blue: #2C4058;
    --primary-color-light-blue: #55B7FF;
    --background-color: #E5E5E5;
    --secondary-background-color: #C4C4C4;
    --background-color-light-blue: #24CCFA;
    --background-color-dark-blue: #3C7FD4;
    --icon-color-violet: #7E5AFF;

    --primary-font-size: 18px;
    --heading-1-font-size: 80px;
    --heading-2-font-size: 60px;
    --heading-3-font-size: 44px;
    --heading-4-font-size: 22px;
    --additional-font-size: 14px;
    --name-font-size: 18px;
    --location-font-size: 15px;

    --primary-line-height: 30px;        
    --heading-1-line-height: 97.5px;
    --heading-1-line-height: 72px;
    --heading-3-line-height: 54px;
    --heading-4-line-height: 27px;
    --additional-line-height: 17px;
    --name-line-height: 22px;
    --location-line-height: 21px;
}

$primary-color-white: var(--primary-color-white, white);
$secondary-color-black: var(--secondary-color-black, black);
$primary-color-dark-blue: var(--primary-color-dark-blue, #2C4058);
$primary-color-light-blue: var(--primary-color-light-blue, #55B7FF);
$background-color: var(--background-color, #E5E5E5);
$secondary-background-color: var(--secondary-background-color, #C4C4C4);
$background-color-light-blue: var(--background-color-light-blue, #24CCFA);
$background-color-dark-blue: var(--background-color-dark-blue, #3C7FD4);
$icon-color-violet: var(--icon-color-violet, #7E5AFF);

$primary-font-size: var(--primary-font-size, 18px);
$heading-1-font-size: var(--heading-1-font-size, 80px);
$heading-2-font-size: var(--heading-2-font-size, 60px);
$heading-3-font-size: var(--heading-3-font-size, 44px);
$heading-4-font-size: var(--heading-4-font-size, 22px);
$additional-font-size: var(--additional-font-size, 14px);
$name-font-size: var(--name-font-size, 18px);
$location-font-size: var(--location-font-size, 15px);

$primary-line-height: var(--primary-line-height, 30px);        
$heading-1-line-height: var(--heading-1-line-height, 97.5px);
$heading-2-line-height: var(--heading-2-line-height, 72px);
$heading-3-line-height: var(--heading-3-line-height, 54px);
$heading-4-line-height: var(--heading-4-line-height, 27px);
$additional-line-height: var(--additional-line-height, 17px);
$name-line-height: var(--name-line-height, 22px);
$location-line-height: var(--location-line-height, 21px);

$phone-width: 480px;
$tablet-width: 768px;
$laptop-width: 1024px;
$laptop-plus-width: 1200px;
$desktop-width: 1440px;